@{
    ViewBag.Title = "Home Page";
}

<h4 align="center">
    Гродненский государственный университет им. Янки Купалы<br>
    Факультет математики и информатики<br>
    Кафедра программного обеспечения интеллектуальных и компьютерных систем<br>
    <br>
    <br>
    <br>
    <br>
    Отчет <br>
    по Общеинженерной практике <br>
    студента 1 курса 7 группы <br>
    специальности 1-400101 "Программное обеспечение информационных технологий" <br>
    Петрашко Евгений Викторович<br>
    <br>
    <br>
    Руководитель практики<br>
    преподаватель<br>
    Ляликов Александр Сергеевич<br>
    <br>
    <br>
    <br>
    Гродно-2009-2010
    </font>
</h4>

<div style="text-align: center;" >
    <hr width="50%">
    <h4>Содержание отчета</h4>
    <a href="~/Includes/task_1/index.html">Лаораторное задание №1. Условный оператор if</a><br>
    <a href="~/Includes/task_2/index.html">Лаораторное задание №2. Оператор SWITCH</a><br>
    <a href="~/Includes/task_3/index.html">Лаораторное задание №3. Оператор FOR</a><br>
    <a href="~/Includes/task_4/index.html">Лаораторное задание №4. Оператор WHILE</a><br>
    <a href="~/Includes/task_5/index.html">Лаораторное задание №5. Оператор DO WHILE</a><br>
    <a href="~/Includes/task_6/index.html" >Лаораторное задание №6. Функции.</a><br>
    <a href="~/Includes/task_7/index.html">Лаораторное задание №7. Указатели </a><br>
    <a href="~/Includes/task_8/index.html">Лаораторное задание №8. Одномерные массивы.</a><br>
    <a href="~/Includes/task_9/index.html">Лаораторное задание №9. Двумерные числовые массивы.</a><br>
    <a href="~/Includes/task_10/index.html">Лаораторное задание №10. Массив строк.</a><br>
    <a href="~/Includes/task_11/index.html">Лаораторное задание №11. Двумерный массив в свободной памяти.</a><br>
    <a href="~/Includes/task_12/index.html">Лаораторное задание №12. Массив структур.</a><br>
    <a href="~/Includes/task_13/index.html">Лаораторное задание №13. Реализация класса.</a><br>
    <a href="~/Includes/task_14/index.html">Лаораторное задание №14. Явные конструкторы и деструкторы.</a><br>
    <a href="~/Includes/task_15/index.html">Лаораторное задание №15. Класс для обработки двумерного целочисленного массива.</a><br>
    <a href="~/Includes/task_16/index.html">Лаораторное задание №16. Класс для целочисленного массива.</a><br>
</div>

